/* Background */
body{
    background-image: url(comics.jpg);
    background-position:center;
     background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Container with searchBar */
.container{
    text-align: center;
    margin-top: 10%;
    color: white;
    background-color:rgba(0,0,0,0.7);
    
    
}

.container h1{
    font-weight: 600;
}
/* Search bar */
.input-group input{
    font-size: 1.2rem;
    width: 50%;

}
button{
    margin-left: 1%;
}
/* Styling for list items and list */
#auto-complete{
    color: black;
    z-index: 1;
    position: relative;
    top: 0;
    margin-top: -1.5%;
    
}
/* li of autosuggest */
#auto-complete li{
    width: 25vw;
    cursor: pointer;
    /* border-radius: 5px; */
}
#auto-complete-container{
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    
}
/* media query for responsive design */
@media screen and (max-width: 600px) {
    
    .input-group input{
        font-size: 1.2rem;
        width: 100%;
    
    
    }
    #auto-complete li{
        width: 40vw;
        cursor: pointer;
        /* border-radius: 5px; */
    }
    button{
        margin-top: 1%;
    }
  }